{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div class="container-fluide">
        <div class="row"></div>
        <div id="colorlib-page">
            {% include 'nav.html.twig' %}
            <div class="container" id="colorlib-main">
                <div class="row d-flex">
                    <div class="col-xl-10 py-5 px-md-5">
                        {% if session.show('add_article') is defined %}
                            <span class="badge badge-primary">{{ session.show('add_article') }}</span>
                        {% endif %}
                        {% if session.show('article_delete') is defined %}
                            <span class="badge badge-primary">{{ session.show('article_delete') }}</span>
                        {% endif %}
                        {% if session.show('edit_comment') is defined %}
                            <span class="badge badge-primary">{{ session.show('edit_comment') }}</span>
                        {% endif %}
                        {% if session.show('comment_delete') is defined %}
                            <span class="badge badge-primary">{{ session.show('comment_delete') }}</span>
                        {% endif %}
                        {% if session.show('unflag_comment') is defined %}
                            <span class="badge badge-primary">{{ session.show('unflag_comment') }}</span>
                        {% endif %}
                        {% if session.show('delete_user') is defined %}
                            <span class="badge badge-primary">{{ session.show('delete_user') }}</span>
                        {% endif %}
                        {% if session.show('not_admin') is defined %}
                            <span class="badge badge-primary">{{ session.show('not_admin') }}</span>
                        {% endif %}
                        <br><a href="../public/index.php"><i class="fas fa-backward"></i> Retour à l'accueil</a>
                        <div class="row pt-md-4">
                            <ul class="nav nav-tabs col-12 " id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="true">Articles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Commentaires</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Utilisateurs</a>
                                </li>
                            </ul>
                            <div class="tab-content  col-12" id="myTabContent">
                                <div class="tab-pane fade show active" id="articles" role="tabpanel" aria-labelledby="articles-tab">{% include ('arts.html.twig') %}</div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> {% include ('coms.html.twig') %}</div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">{% include ('users.html.twig') %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END COLORLIB-MAIN -->
        </div>
    </div>
{% endblock %}