<a href="../public/index.php?route=addArticle">Nouvel article</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Titre</th>
        <th scope="col">Contenu</th>
        <th scope="col">Auteur</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td><a href="../public/index.php?route=article&articleId={{ article.id }}">{{ article.title }}</a></td>
            <td>{{ article.content | striptags | slice(0, 50)}}</td>
            <td>{{ article.author }}</td>
            <td>Créé le : {{ article.createdAt }}</td>
            <td>
                <a href="../public/index.php?route=editArticle&articleId={{ article.id }}"><i class="far fa-edit"></i> Modifier</a><br>
                <a href="../public/index.php?route=deleteArticle&articleId={{ article.id }}"><i class="far fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>