{% if post and post.get('id') %}
    {% set route = 'editArticle' %}
{% else %}
    {% set route = 'addArticle' %}
{% endif %}

{% if route == editArticle %}
    {% set submit = 'Modifier' %}
{% else %}
    {% set submit = 'Ajouter' %}
{% endif %}
<div class="container-fluide">
    <div class="row"></div>
    <div id="colorlib-page">
        {% include 'nav.html.twig' %}
        <div class="container" id="colorlib-main">
            <div class="row d-flex">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="col-md-12">
                        <a href="../public/index.php"><i class="fas fa-backward"></i> Retour à l'accueil</a><br>
                        <a href="../public/index.php?route=administration"><i class="fas fa-backward"></i> Retour à l'administration</a><br>

                        <form method="post" action="../public/index.php?route={{ route }}{% if route =='editArticle' %}&articleId={{ post.get('id') }}{% endif %}">
                            <div class="form-group">
                                <label for="title">Titre</label>
                                <input type="text" class="form-control" id="title" class="form-control" name="title" value="{% if post %}{{ post.get('title') }}{% else %}{{ '' }}{% endif %}" >
                                {% if errors.title %} {{ errors.title }} {% else %} {{ '' }}{% endif %}
                            </div>
                            <div class="form-group">
                                <label for="content">Contenu</label>
                                <textarea class="form-control" id="content" class="form-control" name="content" rows="3">{% if post %}{{ post.get('content') }}{% else %}{{ '' }}{% endif %}</textarea>
                                {% if errors.content %} {{ errors.content }} {% else %} {{ '' }}{% endif %}
                            </div>
                            <input type="submit" value="{{ submit }}" id="submit" name="submit" class="btn btn-primary" >
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- END COLORLIB-MAIN -->

    </div>
</div>
</div>

