{% extends 'base.html.twig' %}
{% block title %}Mon profil {% endblock %}
{% block content %}
    {{ session.show('updtate_password') }}
    {{ session.show('not_admin') }}
    {{ session.show('nedd_login') }}

    <div class="container-fluide">
        <div class="row"></div>
        <div id="colorlib-page">
            {% include 'nav.html.twig' %}
            <div class="container" id="colorlib-main">
                <div class="row d-flex">
                    <div class="col-xl-10 py-5 px-md-5">
                        <div class="row pt-md-4">
                            <a href="../public/index.php"><i class="fas fa-backward"></i> Retour à l'accueil</a>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Pseudo</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ session.get('id') }}</td>
                                    <td>{{ session.get("pseudo") }}</td>
                                    <td>
                                        <a href="../public/index.php?route=editPassword"><i class="far fa-edit"></i> Modifier mot de passe</a><br>
                                        {% if session.get('role') == 1 %}
                                            <a href="../public/index.php?route=deleteAccount"><i class="far fa-trash-alt"></i> Supprimer mon compte</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- END COLORLIB-MAIN -->
        </div>
    </div>

{% endblock %}

