{% extends 'base.html.twig' %}
{% block title %} Article {{ article.title }} {% endblock %}
{% block content  %}
        <div class="container-fluide">
            <div class="row"></div>
            <div id="colorlib-page">
                {% include 'nav.html.twig' %}
                <div class="container" id="colorlib-main">
                    <div class="row d-flex">
                        <div class="col-xl-8 py-5 px-md-5">
                            <div class="row pt-md-4">
                                {{ session.show('add_comment') }}
                                {{ session.show('edit_comment') }}
                                <a href="../public/index.php"><i class="fas fa-backward"></i> Retour à l'accueil </a>
                                <div>
                                    <h2>{{ article.title }}</h2>
                                    <p>{{ article.content }}</p>
                                    <p>{{ article.author }}</p>
                                    <p>Créé le : {{ article.createdAt }}</p>
                                </div>
                                <br>

                                <div id="comments" class="text-left" style="margin-left: 50px">
                                    <h3>Commentaires</h3>
                                    <div id="button">
                                        {% include 'add_comment.html.twig' %}
                                    </div>
                                    <br><hr><br>

                                    {% for comment in comments %}
                                        <h4>{{ comment.pseudo }}</h4>
                                        <p>{{ comment.content }}</p>
                                        <p>Posté le {{ comment.createdAt }}</p>
                                        {% if comment.flag %}
                                            <p>Ce commentaire a déjà été signalé</p>
                                        {% else %}
                                            <p><a href="../public/index.php?route=flagComment&commentId={{ comment.id }}">Signaler le commentaire</a></p>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!-- END COLORLIB-MAIN -->

            </div>
        </div>
    </div>

{% endblock %}
